/*PC用css*/
@media screen and (min-width: 951px){
    .create{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }
    .form{
        width: 60%;
        padding: 30px;
        border: 2px solid #000000;
    }
    p{
        font-size:24px;
        color: #000000;
    }
    .create a{
        color: #0000ff;
    }
    .create a:hover{
        color: #ff0000;
    }
    .submit{
        text-align: right;
    }
    .form2{
        width: auto;
        padding-right: 30%;
    }
    .form2 p{
        text-align: right;
    }
}
/*スマホ用css*/
@media screen and (max-width: 950px){
    .create{
        width: 90%;
        padding-top: 20px;
        font-size: 2.5vh;
        text-align: left;
    }
    .create a{
        color: #0000ff;
        text-decoration: none;
    }
    .form{
        border: 2px solid #000000;
        padding: 20px;
        font-size: 3vw;
        text-align: left;
    }
    .submit{
        text-align: right;
    }
    .form2{
        width: 90%;
    }
    .form2 p{
        text-align: right;
    }
}