@media screen and (min-width: 871px){
    .home{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }
    .home p{
        font-size:24px;
        color: #000000;
    }
    .home a{
        color: #0000ff;
    }
    .home a:hover{
        color: #ff0000;
    }
    th{
        width: 150px;
        padding: 5px;
        font-size: 20px;
        border: 1px solid #000000;
    }
}