/*
***  File Name: kadai.css
***  Version	: V2.0
***  Designer	: 内田友哉
***  Date     : 2021/07/11
***  Purpose  : 課題画面のcss
***
***  Revision:
*** 以前までの者をV1.0とし、今回からV2.0とする
*/
/*PC用css*/
@media screen and (min-width: 951px) {
    .kadai{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }
    .kadai p{
        font-size:24px;
        color: #000000;
    }
    .kadai a{
        color: #0000ff;
    }
    .kadai a:hover{
        color: #ff0000;
    }
    th{
        width: 10%;
        padding: 5px;
        font-size: 20px;
        border: 1px solid #000000;
    }
    .kadai-s{display: none;}
}
/*スマホ用css*/
@media screen and (max-width: 950px) {
    .kadai-s{
        width: 90%;
        text-align: left;
        padding-top: 20px;
        font-size: 2.5vh;
    }
    th{
        width: 40%;
        padding: 5px;
        font-size: 2vh;
        border: 1px solid #000000;
    }
    .kadai-s a{
        color: #0000ff;
        text-decoration: none;
        font-size: 2vh;
    }
    .button{
        padding: 50%;
    }
    .kadai{display:none;}
}