/*
***  File Name: login.css
***  Version	: V2.0
***  Designer	: 内田友哉
***  Date     : 2021/07/11
***  Purpose  : loginフォームがあるページのcss
***
***  Revision:
*** 以前までの者をV1.0とし、今回からV2.0とする
*/
/*PC用css*/
@media screen and (min-width: 951px){
    .login{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }
    .form{
        width: 45%;
        padding: 30px;
        border: 2px solid #000000;
    }
    .login p{
        font-size:24px;
        color: #000000;
    }
    .login a{
        color: #0000ff;
    }
    .login a:hover{
        color: #ff0000;
    }
    .submit{
        text-align: right;
    }
}
/*スマホ用css*/
@media screen and (max-width: 950px){
    .login{
        width: 90%;
        padding-top: 20px;
        font-size: 2.5vh;
        text-align: left;
    }
    .login a{
        color: #0000ff;
        text-decoration: none;
    }
    .form{
        border: 2px solid #000000;
        padding: 20px;
        font-size: 3.5vw;
        text-align: left;
    }
    .submit{
        text-align: right;
    }
}