@media screen and (min-width: 871px){
    .logo-s{display: none;}/*スマートフォン用ヘッダーを削除*/
    #nav{
        position: fixed;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #585858;
    }
    #mav ul{
        width: 20px;
    }
    #nav li{
        display: inline-block;
        padding: 15px;
    }
    #nav a,p{
        text-decoration: none;
        color: #ffffff;
    }
    #nav a:hover{
        border-bottom: 5px solid #ffffff;
    }

    .container{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .container2{
        float: left;
        padding-top: 28px;
        font-size: 28px;
    }
    #main-menu{
        float: right;
    }
    .user{
        padding-top:10px;
        float: right;
    }
    .index{
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        border: 2px solid #000000;
    }
    .index p{
        font-size: 24px;
        color: #000000;
        text-align: left;
    }
    .main-container{
        overflow: hidden;
    }
    .sidebar{
        float: left;
    }
    .maincol{
        float: right;
        width: 100%;
        margin: 0 0 0 -360px;
    }
    .main-container{
        margin-left: 360px;
    }
}