/*
***  File Name: style.css
***  Version	: V2.0
***  Designer	: 内田友哉
***  Date     : 2021/07/11
***  Purpose  : すべてのページのcss
***
***  Revision:
*** 以前までの者をV1.0とし、今回からV2.0とする
*/
/*PC用css*/
@media screen and (min-width: 951px){
    .header-s{display:none;}/*スマートフォン用ヘッダーを削除*/
    .nav{
        position: fixed;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #585858;
    }
    .mav ul{
        width: 20px;
    }
    .nav li{
        display: inline-block;
        padding: 15px;
    }
    .nav a,p{
        text-decoration: none;
        color: #ffffff;
    }
    .nav a:hover{
        border-bottom: 5px solid #ffffff;
    }

    .container{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .container2{
        float: left;
        padding-top: 28px;
        font-size: 28px;
    }
    .main-menu{
        float: right;
    }
    .user{
        padding-top:10px;
        float: right;
    }
    .index{
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        border: 2px solid #000000;
    }
    .index p{
        font-size: 24px;
        color: #000000;
        text-align: left;
    }
}
/*スマホ用css*/
@media screen and (max-width:950px){
    .header-pc{display:none;}
    .header-s{
        width: 100%;
        display: block;
        background-color: #335656;
    }

    .menubar{
        width: 80%;
        text-align: left;
        padding: 20px;
        background-color: #335656;
    }
    .menubar a{
        color: #ffffff;
        font-size: 3vh;
        text-decoration: none;
    }
    .menu-btn{
        position: absolute;
        display: flex;
        top: 10px;
        right: 10px;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        background-color: #335656;
        z-index: 2;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after{
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }
    .menu-btn span:before{
        bottom: 8px;
    }
    .menu-btn span:after{
        top: 8px;
    }
    #menu-btn-check:checked ~ .menu-btn span{
        background-color: rgba(255, 255, 255, 0);
    }
    #menu-btn-check:checked ~ .menu-btn span::before{
        bottom: 0px;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after{
        top: 0px;
        transform: rotate(-45deg);
    }
    #menu-btn-check{
        display: none;
    }
    .menu-content{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 100%;
        z-index: 1;
        background-color: #336666;
        transition: all 0.5s;
    }
    #menu-btn-check:checked ~ .menu-content{
        left: 0px;
    }
    .menu-content ul{
        padding: 70px 10px 0 0;
    }
    .menu-content font{
        text-align: right;
    }
    .menu-content ul li{
        padding-left: 10px;
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a{
        display: block;
        width: 100%;
        text-align: left;
        font-size: 24px;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before{
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    .index{
        border: 2px solid #000000;
        padding: 5px;
    }
}