<!--
***  File Name: createok.html
***  Version	: V2.0
***  Designer	: 内田友哉
***  Date     : 2021/07/11
***  Purpose  : アカウント作成完了画面
***
***  Revision:
*** 以前までの者をV1.0とし、今回からV2.0とする
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--css,javascriptリンク-->
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
    <!--スマホ用メニューバー-->
    <div class="header-s">
        <div class="menubar">
            <a href="http://160.16.141.77:50880/"><b>芝浦課題管理システム</b></a>
        </div>
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul>
              <li><a href="http://160.16.141.77:50880/">トップページ</a></li>
              <li><a href="{% url 'login' %}">ログイン</a></li>
              <li><a href="{% url 'create' %}">アカウント作成</a></li>
            </ul>
        </div>
    </div>
    <!--PC用メニューバー-->
    <div class="header-pc">
        <div class="nav">
            <div class="container">
                <div class="container2">
                    <a href="http://160.16.141.77:50880/">芝浦課題管理システム</a>
                </div>
                <ul class="main-menu">
                    <br>
                    <li><a href="{% url 'login' %}">ログイン</a></li>
                    <li><a href="{% url 'create' %}">アカウント作成</a></li>
                </ul>
            </div>
        </div>
        <br><br><br><br><br><br>
    </div>
    <!--mainの内容-->
    <center>
    <div class="create">
        <p>アカウントが作成出来ました。</p>
        <p><a href="{% url 'login'%}"><b>ログイン画面でログインをしてください</b></a></p>
    </div>
    </center>
</body>
</html>