<!--
***  File Name: create.html
***  Version	: V2.0
***  Designer	: 内田友哉
***  Date     : 2021/07/11
***  Purpose  : アカウント作成画面
***
***  Revision:
*** 以前までの者をV1.0とし、今回からV2.0とする
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--css,javascriptリンク-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
    <!--スマホ用メニューバー-->
    <div class="header-s">
        <div class="menubar">
            <a href="http://127.0.0.1:8000/"><b>芝浦課題管理システム</b></a>
        </div>
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul>
              <li><a href="http://127.0.0.1:8000/">トップページ</a></li>
              <li><a href="{% url 'login' %}">ログイン</a></li>
              <li><a href="{% url 'create' %}">アカウント作成</a></li>
            </ul>
        </div>
    </div>
    <!--PC用メニューバー-->
    <div class="header-pc">
        <div class="nav">
            <div class="container">
                <div class="container2">
                    <a href="http://127.0.0.1:8000/">芝浦課題管理システム</a>
                </div>
                <ul class="main-menu">
                    <br>
                    <li><a href="{% url 'login' %}">ログイン</a></li>
                    <li><a href="{% url 'create' %}">アカウント作成</a></li>
                </ul>
            </div>
        </div>
        <br><br><br><br><br><br>
    </div>
    <!--mainの内容-->
    <center>
    <div class="create">
        <div class="form">
            <form method="POST">
                <p>こちらからユーザー登録を行ってください。</p>
                <div class="form2">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                        <br><br>
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                </div>
                <div class="submit">
                    <p><input type="submit" value=" ユーザー登録 "></p>
                </div>
            </form>
        </div>
        <br>
        <p><a href="{% url 'login'%}"><b>前のページに戻る</b></a></p>
    </div>
    </center>
</body>
</html>