{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div id="nav">
        <div class="container">
            <div class="container2">
                <a href="{% url 'home' %}">芝浦課題管理システム</a>
            </div>
            <ul id="main-menu">
                <li><a href="{% url 'home' %}">トップページ</a></li>
                <li><a href="{% url 'home' %}">課題一覧</a></li>
                <li>
                    {% if user.is_authenticated %}
                    <p>ユーザ名：{{ user.username }}さん</p>
                    <p><a href="{% url 'logout' %}">ログアウト</a></p>
                    {% else %}
                    <br>
                    <p><a href="{% url 'login' %}">ログイン</a></p>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br><br>
    <div class="main-container">
        <div class="home">

            <div class="sidebar">
                {% if user.is_authenticated %}
                <p>ようこそ{{ user.username }}さん</p>
                <p>こちらは芝浦課題管理システムです。<br>
                    芝浦工業大学在学中の学生を対象とした、課題を管理するためのWebアプリケーションです。<br>
                    次にScombから課題を抽出するため、<a href="{% url 'scomblogin' %}"><b>こちら</b></a>からScombにログインしてください。<br>
                    <!--
                        ここに提出期限の近い課題を表示する処理が入ります．
                    -->
                </p>
                {% else %}
                <p>このサイトへのセッションが切れているか、ログインが完了していません。<br>
                    お手数ですが、<a href="{% url 'login' %}"><b>こちら</b></a>からログインを行ってください。
                </p>
                {% endif %}
            </div>
            <div class="maincol">
                <div class="maincol-container">
                    <!--
                        ここにカレンダーを表示する処理が入ります．
                        前提条件として課題は抽出済みであることを想定しています．
                    -->
                    ここにカレンダーが入ります．
                </div>
            </div>
        </div>
    </div>
</body>

</html>