<!--
***  File Name: home.html
***  Version	: V2.0
***  Designer	: 内田友哉、國丸裕太
***  Date     : 2021/07/11
***  Purpose  : トップページ画面
***
***  Revision:
*** 以前までの者をV1.0とし、今回からV2.0とする
-->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--css,javascriptリンク-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>

<body>
    <!--スマホ用メニューバー-->
    <div class="header-s">
        <div class="menubar">
            <a href="{% url 'home' %}"><b>芝浦課題管理システム</b></a>
        </div>
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul>
                <font size="5" color="#ffffff">
                    {% if user.is_authenticated %}
                        <p>ユーザ名：{{ user.username }}さん</p>
                    {% endif %}
                </font>
                <li><a href="{% url 'home' %}">トップページ</a></li>
                <li><a href="{% url 'scomblogin' %}">Scombログイン</a></li>
                <li><a href="{% url 'kadai' %}">課題一覧</a></li>
                <li><a href="{% url 'kadai' %}">課題の追加</a></li>
                <li><a href="{% url 'logout' %}">ログアウト</a></li>
            </ul>
        </div>
    </div>
    <!--PC用メニューバー-->
    <div class="header-pc">
        <div class="nav">
            <div class="container">
                <div class="container2">
                    <a href="{% url 'home' %}">芝浦課題管理システム</a>
                </div>
                <ul class="main-menu">
                    <li><a href="{% url 'home' %}">トップページ</a></li>
                    <li><a href="{% url 'kadai' %}">課題一覧</a></li>
                    <li>
                        {% if user.is_authenticated %}
                        <p>ユーザ名：{{ user.username }}さん</p>
                        <p><a href="{% url 'logout' %}">ログアウト</a></p>
                        {% else %}
                        <br>
                        <p><a href="{% url 'login' %}">ログイン</a></p>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    <br><br><br><br><br><br>
    </div>
    <!--mainの内容-->
    <center>
    <main>
        <div class="home">
            <div class="home-contents">
                <div class="contents-explain">
                    {% if user.is_authenticated %}
                    <p>ようこそ{{ user.username }}さん</p>
                    <p>こちらは芝浦課題管理システムです。<br>
                        芝浦工業大学在学中の学生を対象とした、課題を管理するためのWebアプリケーションです。<br>
                        次にScombから課題を抽出するため、<a href="{% url 'scomblogin' %}"><b>こちら</b></a>からScombにログインしてください。<br>
                    </p><br>
                    <p>提出課題一覧:直近の課題</p>
                    <table>
                        <tr>
                            <th>課題名</th>
                            <th>期日</th>
                        </tr>
                        {% for task ,true_date in task_list|slice:":5"%}
                        <tr>
                            <th><a href="{{task.submit_url}}">{{task.task_name}}</a></th>
                            <th>{{true_date}}</th>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <p><a href="{% url 'kadai' %}"><b>すべての課題を表示する</b></a></p>
                    <p><a href="{% url 'kadaiadd' %}"><b>課題を追加する</b></a></p>

                    </p>
                    {% else %}
                    <p>このサイトへのセッションが切れているか、ログインが完了していません。<br>
                        お手数ですが、<a href="{% url 'login' %}"><b>こちら</b></a>からログインを行ってください。
                    </p>
                    {% endif %}
                </div>
                <!--カレンダー-->
                <div class="contents-calender">
                    <div id="caleandar"></div>
                </div>
            </div>
        </div>
    </main>
    <br><br><br>
    <script type="text/javascript" src="{%static 'js/caleandar.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/demo.js' %}"></script>
</body>

</html>