<!--
***  File Name: kadaichange.html
***  Version	: V2.0
***  Designer	: 内田友哉、加藤健太
***  Date     : 2021/07/11
***  Purpose  : 課題変更画面
***
***  Revision:
*** 以前までの者をV1.0とし、今回からV2.0とする
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--css,javascriptリンク-->
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.bpopup.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">  

</head>
<body>
    <!--スマホ用メニューバー-->
    <div class="header-s">
        <div class="menubar">
            <a href="{% url 'home' %}"><b>芝浦課題管理システム</b></a>
        </div>
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul>
                <font size="5" color="#ffffff">
                    {% if user.is_authenticated %}
                        <p>ユーザ名：{{ user.username }}さん</p>
                    {% endif %}
                </font>
                <li><a href="{% url 'home' %}">トップページ</a></li>
                <li><a href="{% url 'scomblogin' %}">Scombログイン</a></li>
                <li><a href="{% url 'kadai' %}">課題一覧</a></li>
                <li><a href="{% url 'kadai' %}">課題の追加</a></li>
                <li><a href="{% url 'logout' %}">ログアウト</a></li>
            </ul>
        </div>
    </div>
    <!--PC用メニューバー-->
    <div class="header-pc">
        <div class="nav">
            <div class="container">
                <div class="container2">
                    <a href="{% url 'home' %}">芝浦課題管理システム</a>
                </div>
                <ul class="main-menu">
                    <li><a href="{% url 'home' %}">トップページ</a></li>
                    <li><a href="{% url 'kadai' %}">課題一覧</a></li>
                    <li>
                    {% if user.is_authenticated %}
                        <p>ユーザ名：{{ user.username }}さん</p>
                        <p><a href="{% url 'logout' %}">ログアウト</a></p>
                    {% else %}
                        <br>
                        <p><a href="{% url 'login' %}">ログイン</a></p>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <br><br><br><br><br><br>
    </div>
    <!--mainの内容-->
    <center>
    <div class="home">
        <div class="form">
            {% if user.is_authenticated%}
            <p>課題を修正してください</p>
            <form method="POST" id="kadaichangePost" action="ajax">
                {% csrf_token %}
                <p>科目名　：<input name="subject" id="subject_name" value="{{subject_name}}"required></p>
                <br>
                <p>課題名　：<input name="task_name" id="task_name" value="{{task_name}}" required></p>
                <br>
                <p>期日　　：<input type="date" name="deadline" id="deadline_date" value="{{submit_time_date}}" required><input type="time" name="deadline" id="deadline_time" value="{{submit_time_time}}"required></p>
                <br>
                <p>進捗度　：<input type="number" step="1" max="100" min = "0" name="progress" id="progress" value="{{progress}}"required></p>
                <br>
                <p>推定時間：<input name="estimated_time" type="number" step="1" min = "0" id="estimated_time" value="{{estimated_time}}" required ></p>
                <br>
                <p>備考&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    ：<input name="remarks" id="remarks" value="{{remraks}}"></p>
                <br>
                    <label>
                        <input type="checkbox" name="is_submit" value="1" id="is_submit">提出済み
                    </label>
                <div class="submit">
                    <p><input type="submit" value=" 課題を変更する "></p>
                </div>
            </form>
        </div>
        <br>
        <p><a href="{% url 'kadai' %}"><b>課題一覧へ戻る</b></a></p>
        <p><a href="{% url 'home' %}"><b>トップページへ戻る</b></a></p>
        {% else %}
            <p>このサイトへのセッションが切れているか、ログインが完了していません。<br>
                お手数ですが、<a href="{% url 'login' %}"><b>こちら</b></a>からログインを行ってください。
            </p>
        {% endif %}
    </div>
    <div class="modal fade" id="modal01" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scorm_windowtitle"></h5>
                </div>
                <div class="modal-body">
                    <br>
                    <h4 class="text-center" id="scorm_windowprogress"></h4>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="scorm_windowbuttonok" data-dismiss="modal" data-toggle="modal"　onclick="">OK</button>
                  </div>
                <div class="modal-body text-left" id="modalHtml"></div>
            </div>
        </div>
    </div>
    </center>
</body>
    <script>
        $('#kadaichangePost').submit(function() {  //ボタンクリックを起点にしてajax
            event.preventDefault();
            $.ajax({
                url:$('form#kadaichangePost').attr('action'),
                type: 'POST',
                data:{
                    'task_id':"{{task_id}}",
                    'submit_time':$('#deadline_date').val() + "T" + $('#deadline_time').val(),
                    'user_id':'{{ user.username }}',
                    'subject_name':$('#subject_name').val(),
                    'task_name':$('#task_name').val(),
                    'is_submit':$('#is_submit').prop("checked"),
                    'can_submit':true,
                    'submit_url':"{{submit_url}}",
                    'estimated_time':$('#estimated_time').val(),
                    'progress':$('#progress').val(),
                    'remarks':$('#remarks').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: 'text',
                success: function(response){  // 通信成功
                    if (response == 'ok'){
                        $('#scorm_windowtitle').text('課題追加!');
                        $('#scorm_windowprogress').text('課題の追加が完了しました。');
                        $('#scorm_windowbuttonok').attr("onclick","location.href='{% url 'kadai' %}'");
                        $("#modal01").modal("show");
                        $("#scorm_windowbuttonok").modal("show");
                    }else{
                        alert(response)
                    }
                    //test
                },
            });
            return false;
        });
    </script>
</html>