{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="container2">
                <a href="{% url 'home' %}">芝浦課題管理システム</a>
            </div>
            <ul id="main-menu">
                <li><a href="{% url 'home' %}">トップページ</a></li>
                <li><a href="{% url 'kadai' %}">課題一覧</a></li>
                <li>
                {% if user.is_authenticated %}
                    <p>ユーザ名：{{ user.username }}さん</p>
                    <p><a href="{% url 'logout' %}">ログアウト</a></p>
                {% else %}
                    <br>
                    <p><a href="{% url 'login' %}">ログイン</a></p>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br><br>

    <div class="home">
        {% if user.is_authenticated %}
        <p>提出課題一覧</p>
        <table>
            <tr>
                <th>課題名</th>
                <th>科目</th>
                <th>期日</th>
                <th>進行度</th>
                <th>推定時間</th>
                <th>備考</th>
                <th>課題の変更</th>
            </tr>
            {% for task in task_list %}
            <tr>
                <th><a href="{{task.submit_url}}">{{task.task_name}}</a></th>
                <th>{{task.subject_name}}</th>
                <th>{{task.submit_time}}</th>
                <th>{{task.progress}}%</th>
                <th>{{task.estimated_time}}分</th>
                <th>{{task.remarks}}</th>
                <th>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="subject_name" value="{{task.subject_name}}">
                        <input type="hidden" name="task_name" value="{{task.task_name}}">
                        <input type="hidden" name="submit_time" value="{{task.submit_time}}">
                        <input type="hidden" name="progress" value="{{task.progress}}">
                        <input type="hidden" name="estimated_time" value="{{task.estimated_time}}">
                        <input type="hidden" name="remarks" value="{{task.remarks}}">
                        <input type="hidden" name="task_id" value="{{task.task_id}}">
                        <input type="hidden" name="can_submit" value="{{task.can_submit}}">
                        <input type="hidden" name="submit_url" value="{{task.submit_url}}">
                        <button type="submit">
                            編集する
                        </button>
                    </form>
                </th>
            </tr>
            {% endfor %}
        </table>
            <p>{{task}}</p>
        <br>
        <p><a href="{% url 'kadaiadd' %}">課題を追加する</a></p>
                        <!--やること 
                ・カレンダーの追加
                    -現在抱えている課題に応じて色を付けたいので，<input="date">では不十分?
                ・期限の近い課題を表示
            -->
            
        
        {% else %}
        <p>このサイトへのセッションが切れているか、ログインが完了していません。<br>
            お手数ですが、<a href="{% url 'login' %}"><b>こちら</b></a>からログインを行ってください。
        </p>
        {% endif %}
    </div>
</body>
</html>