{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="container2">
                <a href="{% url 'home' %}">芝浦課題管理システム</a>
            </div>
            <ul id="main-menu">
                <li><a href="{% url 'home' %}">トップページ</a></li>
                <li><a href="{% url 'home' %}">課題一覧</a></li>
                <li>
                {% if user.is_authenticated %}
                    <p>ユーザ名：{{ user.username }}さん</p>
                    <p><a href="{% url 'logout' %}">ログアウト</a></p>
                {% else %}
                    <br>
                    <p><a href="{% url 'login' %}">ログイン</a></p>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br><br>

    <div class="home">
        <div class="form">
            {% if user.is_authenticated%}
            <p>Scomb以外で出された課題を入力して下さい。</p>
            <form method="POST" action="../static/script/kadaiadd.py">
                {% csrf_token %}
                <p>科目名　：<input name="subject" required></p>
                <br>
                <p>課題名　：<input name="" required></p>
                <br>
                <p>期日　　：<input name="deadline" required></p>
                <br>
                <p>進捗度　：<input name="progress" required></p>
                <br>
                <div class="submit">
                    <p><input type="submit" value=" 課題を追加する "></p>
                </div>
            </form>
        </div>
        <br>
        <p><a href="{% url 'home' %}">トップページへ戻る</a></p>
        {% else %}
            <p>このサイトへのセッションが切れているか、ログインが完了していません。<br>
                お手数ですが、<a href="{% url 'login' %}"><b>こちら</b></a>からログインを行ってください。
            </p>
        {% endif %}
    </div>
</body>
</html>