{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div id="nav">
        <div class="container">
            <div class="container2">
                <a href="">芝浦課題管理システム</a>
            </div>
            <ul id="main-menu">
                <br>
                <li><a href="{% url 'login' %}">ログイン</a></li>
                <li><a href="{% url 'create' %}">アカウント作成</a></li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br><br>

    <div class="login">
        <div class="form">
            <p>本サイトにログインしてください。</p>
            <form method="POST">
            {% csrf_token %}
                <p>ユーザ名　：<input name="username"></p>
                <br>
                <p>パスワード：<input type="password" name="password"></p>
                <br>
                <div class="submit">
                    <p><input type="submit" value=" ログイン "></p>
                </div>
            </form>
        </div>
        <br>
        <p>会員登録がまだの場合は<a href="{% url 'create' %}"><b>こちら</b></a>から会員登録をしてください。<br>
            １つ前のページに<a href="javascript:history.go(-1)"><b>戻る</b></a>
        </p>
    </div>
</body>
</html>