<!--
***  File Name: logout.html
***  Version	: V2.0
***  Designer	: 内田友哉
***  Date     : 2021/07/11
***  Purpose  : ログアウト画面
***
***  Revision:
*** 以前までの者をV1.0とし、今回からV2.0とする
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>芝浦課題管理システム</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--css,javascriptリンク-->
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <!--PC用メニューバー-->
    <div class="nav">
        <div class="container">
            <div class="container2">
                <a href="http://127.0.0.1:8000/">芝浦課題管理システム</a>
            </div>
            <ul id="main-menu">
                <br>
                <li><a href="{% url 'home' %}">トップページ</a></li>
                <li><a href="{% url 'kadai' %}">課題一覧</a></li>
                <li><a href="{% url 'login' %}">ログイン</a></li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br><br>
    
ログアウトされました
</body>
</html>