{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>芝浦課題管理システム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.bpopup.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">  
    
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="container2">
                <a href="{% url 'home' %}">芝浦課題管理システム</a>
            </div>
            <ul id="main-menu">
                <li><a href="{% url 'home' %}">トップページ</a></li>
                <li><a href="{% url 'home' %}">課題一覧</a></li>
                <li>
                    {% if user.is_authenticated %}
                    <p>ユーザ名：{{ user.username }}さん</p>
                    <p><a href="{% url 'logout' %}">ログアウト</a></p>
                    {% else %}
                    <br>
                    <p><a href="{% url 'login' %}">ログイン</a></p>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br><br>
    <div class="login">
        <div class="form">
            <p>課題を抽出するためにScombにログインしてください。</p><br>
            <div id="resultPOST"></div>
            <form method="POST" id ="scormpost", action="scomblogin/ajax">
                {% csrf_token %}
                <p>ユーザ名　：<input name="username", id="username", required, value="{{ username }}"></p>
                <br>
                <p>パスワード：<input type="password", id="password", name="password", required value="{{ password }}"></p>
                <br>
                <div class="submit">
                    <p><input type="submit" value=" ログイン " ></p>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="modal01" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scorm_windowtitle"></h5>
                </div>
                <div class="modal-body">
                    <br>
                    <h4 class="text-center" id="scorm_windowprogress"></h4>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="scorm_windowbuttonok" data-dismiss="modal" data-toggle="modal">OK</button>
                  </div>
                <div class="modal-body text-left" id="modalHtml">
            </div>
          </div>
        </div>
      </div>
</body>
<script>
        $('#scormpost').submit(function() {  //ボタンクリックを起点にしてajax
            event.preventDefault();
            $('#scorm_windowtitle').text('しばらくお待ちください');
            $('#scorm_windowprogress').text('課題を読み込み中...');
            $("#modal01").modal("show") 
            $.ajax({
                url:$('form#scormpost').attr('action'),
                type: 'POST',
                data:{
                    'scomb_username':$('#username').val(),
                    'scomb_password':$('#password').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'username': '{{ user.username }}'
                },
                dataType: 'text',
                success: function(response){  // 通信成功
                    if (response == "error") {
                        $('#scorm_windowtitle').text('課題抽出失敗');
                        $('#scorm_windowprogress').text('課題の読み込みに失敗しました。     ユーザー名とパスワードを確認してください。');
                        $("#scorm_windowbuttonok").modal("show");
                    }
                    else {
                        $('#scorm_windowtitle').text('課題抽出完了!');
                        $('#scorm_windowprogress').text('課題の読み込みが完了しました。');
                        $("#scorm_windowbuttonok").modal("show");
                    }
                },
            });
            return false;
        });
    </script>
</html>